body{
  background-color: #ceccd34d;
}
.mainContainer {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
.container {
  border: 1px solid #7272774f;
  min-width: 480px;
  display: flex;
  height: auto;
  padding: 12px;
  border-radius: 10px;
  background-color: #ffffff;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  font-size: 22px;
  color: #3c1880d7;
  text-transform: uppercase;
  margin: 0;
}
.hr{
  border: 1px solid #3c1880d7 ; 
  margin-top: -1px;
}

.containerInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.containerInfo p {
  color: #555;
  padding-bottom: 5px;
  margin-bottom: 8px;
  display: flex;
  width: 480px;
  flex-direction: column;
  text-align: start;
  border-bottom: 1px solid #5555555d;
  border-width: auto; 

 
}
.containerInfo   .info p  {
  font-weight: bold;
}
.containerInfo  .p  {
  color: #555;
  width: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin: 0;
}
.containerInfo .p .b p {
  width: 320px;
  border-bottom: 1px solid #5555555d;
  color: #555;
  text-align: start;
}
.containerInfo .p .b1 p{
  border-bottom: 1px solid #5555555d;

  width: 150px;
  color: #555;
  margin-right: 20px;
  text-align: start;
}

.containerInfo .dataItem {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.containerInfo .dataItem img {
  width: 20px;
  height: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 0px auto;
}
.container .containerInfo p{
 color: #555;
 font-size: 18px;
}

