.mainContainerNav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.text1 {
  color: #371675;
  font-size: 65px;
  margin-bottom: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.text2 {
  margin: 0 0 30px 0;
  color: #49425a;
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

.home-nav {
  display: flex;
  justify-content: space-around;
  padding: 0 0;
  align-items: center;
  justify-content: end;
  background-color: #ffffff;
  margin-top: 80px;
  border-radius: 5px;
  max-height: 800px;
  max-width: 850px;
  border: 1px solid #02010138;
}

.home-navbar-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.home-item {
  margin: 5px;
}

.nav-link2 {
  color: #0b0614bd;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: color 0.5s;
  cursor: pointer;
  padding-bottom: 2px;
  transition: all 0.5s;
  padding: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.nav-link2:hover,
.nav-link2.active,
.nav-link2:focus {
  background-color: #7c709242;
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  color: #0b0614bd;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}


