.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login-box {
  display: flex; 
  width: 119%;
  max-width: 70vw;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.login-left,
.login-right {
  flex: 1;
  padding: 40px;
}

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.login-left h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 1.2rem;
}

.input-group input {
  width: 90%;
  padding: 10px 10px 10px 35px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #611c61;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.forgot-password {
  display: block;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  text-align: right;
  color: #611c61;
  text-decoration: none;
  text-align: end;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  width: 70%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #611c61;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #a02f64;
}

.register-link {
  color: #611c61;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.login-right img {
  width: 100%;
  height: auto;
  margin: 100px 14px;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}