.upload-docs-container {
  display: flex;
}

.ged-sidebar {
  width: 250px; 
  transition: width 0.3s ease-in-out;
}

.ged-sidebar.closed {
  width: 80px; 
}

.upload-form-container {
  padding: 20px;
  background-color: #F7F7F7; 
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
  width: 81%;

}


  .upload-form-title {
    text-align: center;
    font-size: 24px;
    color: #5e1675;
    margin-bottom: 20px;
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #5e1675;
  }
  

  .submit-btn {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #5e1675;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #450b58;
  }
  
  textarea {
    min-height: 120px;
    resize: vertical;
  }
  