.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupModif {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px #0000001a;
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.closeConf{
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
  background-color: #671786;
  width: 500px;
  height: 35px;
  margin: -6px 2px 5px 6px;
  margin-right: 5px;
  border: none;
  border-top-right-radius:5px ;
  border-top-left-radius:5px ;
  text-align: end;
}

.popup-content {
  margin-top: 10px;
}
.confbtn{
  display: flex;
  justify-content: space-between;
}
.confbtn button{
  font-size: 18px;
  padding: 10px;
  transition: all 0.3s;
}
.confbtn button:hover{
  background-color: #9626c2e3 ;
}