.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-container {
    max-height: 300px;
    overflow-y: auto;
  }
  
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.popup-content table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.popup-content th {
  background-color: #671786;
  color: #ffffff;
}

.popup-content th,
.popup-content td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.popup-content input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.popup-content button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #671786;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
