body {
  background-color: #ceccd33b;
}
.mainContainer {
  display: flex;
  justify-content: space-around;
}
.container {
  border: 1px solid #7272774f;
  min-width: 450px;
  display: flex;
  height: auto;
  padding: 12px;
  border-radius: 10px;
  background-color: #ffffff;
  flex-direction: column;
  margin: 12px;
}

.bout {
  display: flex;
  margin: 12px;
}

.boutonn {
  pointer-events: none;
  width: 50px;
  border-radius: 20px;
  border: 1px solid #3c1880d7;
  color: #ffffff;
  font-size: 20px;
}

.boutonn.oui {
  background-color: #3c1880d7;
  border: 1px solid #3c1880d7;
  color: #ffffff;
}

.boutonn.non {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}

.container h1 {
  text-align: center;
  font-size: 22px;
  color: #3c1880d7;
  text-transform: uppercase;
  margin: 0;
}

.containerInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.containerInfo p {
  color: #555;
  padding-bottom: 5px;
  margin: 10px;
  display: flex;
  width: 440px;
  flex-direction: column;
  text-align: start;
  border-bottom: 1px solid #5555555d;
  border-width: auto;
  min-height: 50px;
}
.middle p {
  color: #555;
  padding-bottom: 5px;
  margin: 10px;
  display: flex;
  width: 490px;
  flex-direction: column;
  text-align: start;
  border-bottom: 1px solid #5555555d;
  border-width: auto;
}
strong {
  color: #000;
}
.containerInfo .info p {
  font-weight: bold;
}
.containerInfo .p {
  color: #555;
  width: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin: 0;
}
.containerInfo .p .b p {
  width: 300px;
  border-bottom: 1px solid #5555555d;
  color: #555;
  text-align: start;
}
.containerInfo .p .b1 p {
  border-bottom: 1px solid #5555555d;

  width: 115px;
  color: #555;
  margin-right: 20px;
  text-align: start;
}

.containerInfo .dataItem {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.containerInfo .dataItem img {
  width: 20px;
  height: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 0px auto;
}
.container .containerInfo p {
  color: #555;
  font-size: 18px;
}

.modifInput {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 18px;
}

select {
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color: #ffffff;
  width: 180px;
}

.btnpopup {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 35px;
}

.btnadd {
  border: none;
  background-color: white;
  color: #534848cc;
  font-size: 30px;
  margin-left: 450px;
  margin-top: -25px;

}
.btnsub{
  margin: 12px 8px;
  padding: 10px 16px;
  background-color: #671786;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
  width: 200px;
}

.btnsub:hover{
  background-color: #ffffff;
  color: #671786;
  border: 1px solid #671786 ;
}

.btnt {
  padding: 8px 15px ;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
  display: inline-block;
  position: relative;
}

.btnt input[type="radio"] {
  display: none;
}

.btnt.selected {
  background-color: #671786;
  color: white;
  border-color: #671786;
  border-radius: 20px;
}

