.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  border-radius: 10px;
  width: calc(100% - 40px);
}


.logo {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1); 
}


.navbar-nav {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #4b2354;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.nav-link:hover {
  background: rgba(94, 22, 117, 0.15);
  color: #5E1675;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(94, 22, 117, 0.2);
}

.nav-link.active {
  background:  #5E1675;
  color: #fff;
  box-shadow: 0 4px 10px rgba(94, 22, 117, 0.4);
  transform: translateY(-2px);
}


.txt {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #4b2354;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-user {
  font-size: 28px;
  color: #5E1675;
}

.btn-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(90deg, #5E1675, #7e3d94);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-nav:hover {
  background: rgba(94, 22, 117, 0.8);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
