.AppAuthent {
  text-align: center;
}
.headerAuthent {
  background-color: #496989;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  top: -55px;
  left: calc(100% - 80px);
}
.input {
  height: 45px;
  min-width: 300px;
  margin: 10px;
  font-size: 15px;
  background-color: #496989;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #ffff;
  font-weight: bold;
  padding: 0px;
  outline-style: none;
  min-width: 330px;
}

.input:focus {
  border-bottom: 3px solid #ffffff;
  background-color: #496989;
  height: 50px;
  font-size: 30;
}

.button {
  padding: 12px 24px;
  width: 150px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #73a9ad;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #96b7b9;
  color: #fff8f8;
}
.label {
  margin: 5px;
  font-size: 20px;
}
.passwordError {
  font-size: 12px;
  color: rgba(209, 91, 91, 0.603);
  position: absolute;
  top: 49vh;
  left: 10;
  text-align: center;
}

.tooglePassword {
  position: relative;
  right: 45px;
  top: 11px;
  transform: translateY(-50%);
  cursor: pointer;
}

.para {
  font-size: 15px;
  font-style: italic;
}
.loginForm {
  border: 1px #fff solid;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  max-height: 100vh;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.link {
  font-size: 15px;
  color: #f3f3f3d7;
  text-decoration: none;
}

