.cardGeneralité {
  border: 1px solid #ffff;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 3px #595b6991;
  background-color: #ffff;
  margin: 30px;
  padding: 60px 30px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardGeneralité .mainTitle {
  background-color: #611c61;
  position: absolute;
  width: 95.5%;
  top: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.miniTitle{
  font-size: 20px;
  width: 99.5%;
  border-bottom: 2px solid #000000;
  padding-bottom: 12px;
  color: #4a4b53;
}
.titleCard {
  font-size: 18px;
  font-weight: 700;
  width: 43vw;
  padding-bottom: 5px;
  color: #4a4b53;
  border-bottom: 2px solid black;
}
.formGroup {
  font-size: 18px;
}
.formGroup label {
  display: block;
}
.formGroup input {
  width: 42vw;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #808080;
}
.formGroup textarea {
  width: 42vw;
  padding: 10px;
  resize: vertical;
  outline: none;
  border-radius: 5px;
  border: 1px solid #808080;
}
.clientsForm {
  display: flex;
  padding-top: 10px;
}
.clientsForm select {
  width: 34vw;
  padding: 10px;
  outline: none;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #808080;
  margin: 0 20px;
}
.radio-group {
  margin-bottom: 10px;
  margin-top: 10px;
}
.three {
  display: flex;
  align-items: start;
  justify-content: start;
}
.three input {
  width: max-content;
}
.three #rue {
  width: 20vw;
}
.three .two {
  width: max-content;
}
.three .formGroup {
  margin: 2px;
}
.two {
  display: flex;
}
.two .formGroup input {
  width: 20vw;
  margin: 2px;
}
