.popup-trigger {
  display: inline-block;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6e6e6e2d;
  z-index: 999;
}

.popup-guide {
  position: absolute;
  top: 105vh;
  left: 77px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 110px 38px 73px;
  box-shadow:2px 3px 25px #00000085;
  z-index: 1000;
  font-size: 19px;
  color: #000000;
  margin: 5px;
  min-height: 130vh;
  max-width: 84vw;
  border-radius: 10px;
}
 .affaire{
  top: 240vh;
  padding-top: 12px;
}
.affaire h4{
  padding-bottom: 5px;
}
.honoraire{
  top: 540vh;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 17px 31px;
}
.honoraire ul li{
  color: #272727;
  margin-left: -12px;
  font-size: 20px;
}
.span{
  padding: 0px 5px 4px 5px;
  width: 42px;
  border-radius: 18px;
}
.popup-guide h2{
  font-size: 25px;
  margin-top: -80px;
  color: #7b2d82;
}
.popup-guide h4 {
  margin-top: 0px;
  font-size: 20px;
  color: #7b2d82;
}

.popup-guide ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #272727;
}

.popup-guide li {
  margin-bottom: 10px;
  color: #272727;
  padding: 12px 0px 5px 25px;
  margin-left: 74px;
}
.popup-guide span{
  background: #5E1675;
  border: 1px solid #5E1675;
  padding: 12px;
  margin: 9px;
  color: #fff;
  width: 120px;
  display: inline-block;
  text-align: center;
}
.popup-closee{
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 40px;
  color: #858585;
  cursor: pointer;
}
.addcirdle{
  color: #34b734;
  font-size: 50px;
  margin: 0px 7px -15px 6px;
}
 